<script type="application/javascript">

    $(document).ready(function (e) {
        var transactionGatewaysPieChart = $("#transactionGatewaysPieChart");
        var transactionStatusLineChart = $("#transactionStatusLineChart");
        var statsUrl = "{{ path("dashboard_dashboard_stats") }}";
        //Flter elements.
        var gatewaysFilter = $("#{{ transactionFilterForm.gateways.vars.id }}");
        var sitesFilter = $("#{{ transactionFilterForm.sites.vars.id }}");
        var filterButton = $("#filterBtn");

        filterButton.on("click", function (e) {

            getStats();
        });

        //Getting data from url.
        function getData(url, params = []) {
            url = statsUrl;
            console.log(params);
            console.log(url);
            $.post(url, { "gateways" : JSON.stringify(params.gateways), "websites" : JSON.stringify(params.sites)},
                function (data, status, jqXHR) {// success callbacks
                    if (data.transactions_gateways !== false)
                        transactionsGatewayPieChart(data.transactions_gateways);
                    if (data.transactions_status !== false)
                        transactionsStatusLineChart(data.transactions_status);
                }
            );
        }

        function transactionsStatusLineChart(data) {
            let created = [];
            let pending = [];
            let accepted = [];
            let refused = [];

            $.each(data.labels, function (index, value) {
                created.push(data.data[value][1]);
                pending.push(data.data[value][2]);
                accepted.push(data.data[value][4]);
                refused.push(data.data[value][3] + data.data[value][5]);
            });

            //Extract data.
            var labels = data.labels;
            var datasets = [{
                fill: false,
                backgroundColor: '#1DC7EA',
                borderColor: '#1DC7EA',
                data: created,
                label: "Created"
            }, {
                fill: false,
                data: pending,
                backgroundColor: '#FF9500',
                borderColor: '#FF9500',
                label: "Pending"
            }, {
                fill: false,
                data: accepted,
                backgroundColor: '#87CB16',
                borderColor: '#87CB16',
                label: "Accepted"
            }, {
                fill: false,
                data: refused,
                backgroundColor: '#FF4A55',
                borderColor: '#FF4A55',
                label: "Refused/Cancelled"
            },

            ];

            lineChart(transactionStatusLineChart, labels, datasets);
        }

        //Set the transaction's gateway chart
        function transactionsGatewayPieChart(data) {
            //Extract data.
            var labels = data.labels;
            var datasets = [{
                data: data.data,
                backgroundColor: data.colors
            }];
            //create pieChart.
            pieChart(transactionGatewaysPieChart, labels, datasets);
        }

        //Draw the pie chart.
        function pieChart(container, labels, datasets) {
            data = {
                labels: labels,
                datasets: datasets
            };
            options = {
                responsive: true,
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                            var label = data.labels[tooltipItem.index];
                            return label + ': ' + value + "%";
                        }
                    },
                    position: 'average'
                },
                scales: {
                    yAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false,
                            tickMarkLength: false
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false,
                            tickMarkLength: false
                        }
                    }]
                }
            };

            var myPieChart = new Chart(container, {
                type: 'pie',
                data: data,
                options: options
            });
        }

        //Draw the line chart.
        function lineChart(container, labels, datasets) {
            data = {
                labels: labels,
                datasets: datasets
            };
            options = {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: true,
                    /*labels: ["Created","Pending","Accepted","Refused\\Cancelled"]*/
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            return tooltipItem.label + ": " + tooltipItem.value + " transaction(s)"
                        },
                        title: function (tooltipItem, data) {
                            let title = "";
                            console.log(tooltipItem[0].datasetIndex);

                            switch (tooltipItem[0].datasetIndex) {
                                case 0:
                                    title = "Created";
                                    break;
                                case 1:
                                    title = "Pending";
                                    break;
                                case 2:
                                    title = "Accepted";
                                    break;
                                case 3:
                                    title = "Refused/Cancelled";
                                    break;
                                default:
                                    title = "";
                                    break;
                            }
                            return title;

                        }
                    },
                    position: 'average'
                },
                scales: {
                    yAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false,
                            tickMarkLength: false
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false,
                            tickMarkLength: false
                        }
                    }]
                }
            };

            var myLineChart = new Chart(container, {
                type: 'line',
                data: data,
                options: options
            });
        }

        //Get the data. trigger the $.post request.
        function getStats() {
            var requestData = [];
            var gateways = gatewaysFilter.val();
            var sites = sitesFilter.val();

            if (gateways.length > 0)
                requestData["gateways"] = gateways;
            if (sites.length > 0)
                requestData["sites"]= sites;

            getData(statsUrl, requestData);
        }

        //When page is loaded first call.
        getStats();

        /**Transactions */
            //Gatewayn filter btn.
        var gatewayFilterBtn = $("#gatewayFilterBtn");

        //GatewayFilter selectors.
        var transactionsFilterStatus = $("#{{ transactionFilterForm.status.vars.id }}");
        var transactionsFilterGateways = $("#{{ transactionFilterForm.gateways.vars.id }}");
        var transactionsFilterWebsites = $("#{{ transactionFilterForm.sites.vars.id }}");

        //transactionTable dataTable.
        var transactionTable = $('#transactions_table').DataTable({
            "dom": 'Bfrtip',
            "ajax": {
                url: "{{ path('transactions_transactions_index') }}",
                data: {
                    'join': [{
                        'join': 't.gateway',
                        'alias': 'gateway',
                        'condition': ""
                    }, {
                        'join': 't.website',
                        'alias': 'website',
                        'condition': ""
                    }],
                    'conditions': function () {
                        //get todays date midnight.
                        var d = new Date();

                        var curr_date = d.getDate();
                        var curr_month = d.getMonth() + 1;
                        var curr_year = d.getFullYear();

                        if (curr_month < 9) {
                            curr_month = "0" + curr_month;
                        }

                        d = curr_year + "-" + curr_month + "-" + curr_date + " 00:00:00";
                        //Init conditions.
                        var conditions = [];
                        conditions.push("t.updatedAt > '" + d + "'");
                        return conditions;
                    },
                    'search_options': {
                        't_status': [{
                            'original value': '1',
                            'replaced_by': 'Created'
                        }, {
                            'original value': '2',
                            'replaced_by': 'Pending'
                        }, {
                            'original value': '3',
                            'replaced_by': 'Refused'
                        }, {
                            'original value': '4',
                            'replaced_by': 'Accepted'
                        }, {
                            'original value': '5',
                            'replaced_by': 'Cancelled'
                        }, {
                            'original value': '6',
                            'replaced_by': 'Refunded'
                        }]
                    },
                    'hidden_columns': [
                        {
                            "name": 't.currency',
                            "data": 't_currency',
                            "searchable": true,
                        }
                    ]
                }
            },
            "processing": true,
            "serverSide": true,
            "sAjaxDataProp": "data",
            "pageLength": 100,
            "deferRender": true,
            "scrollY": 500,
            "scroller": {
                "loadingIndicator": true
            },
            "columnDefs": [{
                "targets": 0,
                "name": 't.transactionOrder',
                "data": 't_transactionOrder',
            }, {
                "targets": 1,
                "name": 'website.url',
                "data": 't_url',
            }, {
                "targets": 2,
                "name": 't.amount',
                "data": 't_amount'
            }, {
                "targets": 3,
                "name": 'gateway.name',
                "data": 't_gateway'
            }, {
                "targets": 4,
                "name": 't.status',
                "data": 't_status',
            }, {
                "targets": 5,
                "name": 't.createdAt',
                "data": 't_createdAt',
            }, {
                "targets": 6,
                "name": 't.updatedAt',
                "data": 't_updatedAt',
            }, {
                "targets": -1,
                "data": "t_action",
            }]
        });

    });
</script>