{% extends 'base.html.twig' %}

{% block title %}
    dashboard
{% endblock %}

{% block body_header %}
    <ol class="breadcrumb " style="background-color: #ffffff !important;">
        <li class="navbar-brand breadcrumb-item">Dashboard</li>
    </ol>
{% endblock %}

{% block stylesheet %}
    <style>
        .undefined{
            color: #6c757d;
        }

        .todays_transactions{
            margin: 0 0.5% 0 0.5%;
        }

        {% for gateway in gateways %}
            .{{ gateway.name|replace({" ":"_"})}}{
                color: #{{ gateway.color }} !important;
            }

            .{{ gateway.name|replace({" ":"_"}) }} .ct-slice-pie{
                fill: #{{ gateway.color }} !important;
            }
        {% endfor %}

    </style>

{% endblock stylesheet %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Statistics filter</h4>
                    <p class="category">Use filter to know more about your customers</p>
                </div>
                <div class="content">
                    <div class="container-fluid container-fluid-filter transactions-filter">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_start(transactionFilterForm) }}
                                <div class="col-md-3">
                                    {{ form_row(transactionFilterForm.gateways) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(transactionFilterForm.sites) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 pull-right">
                                <a class="btn btn-fill btn-success" value="refresh"
                                   id="filterBtn">Apply</a>
                            </div>
                        </div>
                        {{ form_end(transactionFilterForm,{'render_rest': false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="card">

                <div class="header">
                    <h4 class="title">Transaction's gateways</h4>
                    <p class="category">Gateways used in all transactions</p>
                </div>
                <div class="content">
                    <p> No daa found </p>
                    <canvas id="transactionGatewaysPieChart" height="250%"></canvas>

                    <div class="footer">
                        <div class="legend">
                        </div>
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="card">
                <div class="header">
                    <h4 class="title">Users Behavior</h4>
                    <p class="category">Know better you clients</p>
                </div>
                <div class="content">
                    <div id="chartHours" class="ct-chart">
                        <canvas id="transactionStatusLineChart"></canvas>
                    </div>
                    <div class="footer">
                        <div class="legend">
                        </div>
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <div class="col-md-10">
                        <h4 class="title">Transactions</h4>
                        <p class="category">Here is a list of today transactions</p>
                    </div>
                </div>

                <div class="content table-responsive table-full-width todays_transactions">
                    <table id="transactions_table" class="table table-hover table-striped">
                        <thead>
                        <th>Transaction id</th>
                        <th>website</th>
                        <th>Amount</th>
                        <th>Gateway</th>
                        <th>Status</th>
                        <th>Created at</th>
                        <th>Updated at</th>
                        <th>Actions</th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block post_javascript %}
    {% include "dashboard/dashboard_js.html.twig" %}
{% endblock post_javascript %}
