{% extends 'base.html.twig' %}

{% block title %}
    Users
{% endblock %}

{% block body_header %}
    <ol class="breadcrumb " style="background-color: #ffffff !important;">
        <li class="navbar-brand breadcrumb-item">
            <a class="active" href="#">Users</a></li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <div class="col-md-10">
                        <h4 class="title">All users</h4>
                        <p class="category">Here is a list of all users</p>
                    </div>
                    <div class="col-md-2 pull-right">
                        <a href="{{ path('clients_add_client') }}" class="pull-right btn btn-info btn-fill">New user</a>
                    </div>
                </div>
                <div class="content table-responsive table-full-width">
                    <table id="users_table" class="table table-hover table-striped">
                        <thead>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>User status</th>
                        <th>Last login</th>
                        <th>Actions</th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block post_javascript %}
    <script type="application/javascript">

        $(function () {

            $('#users_table').DataTable({
                "dom": 'Bfrtip',
                "buttons": [
                    'new user'
                ],
                "ajax": {
                    url: "{{ path('clients_clients_index') }}",
                    data: {
                        'conditions': [

                            "t.id != {{ app.user.id}}"
                        ],
                        'search_options': {
                            't_isActivated': [{
                                'original value': '1',
                                'replaced_by': 'activated'
                            }, {
                                'original value': '0',
                                'replaced_by': 'deactivated'
                            }]
                        },
                        'hidden_columns' :[]
                    }
                },
                "processing": true,
                "serverSide": true,
                "sAjaxDataProp": "data",
                "pageLength": 100,
                "deferRender": true,
                "scrollY": 500,
                "scroller": {
                    "loadingIndicator": true
                },
                "columnDefs": [{
                    "targets": 0,
                    "name": 't.firstName',
                    "data": 't_firstName',
                }, {
                    "targets": 1,
                    "name": 't.lastName',
                    "data": 't_lastName'
                }, {
                    "targets": 2,
                    "name": 't.email',
                    "data": 't_email'
                }, {
                    "targets": 3,
                    "name": 't.isActivated',
                    "data": 't_isActivated',
                }, {
                    "targets": 4,
                    "name": 't.lastLogin',
                    "data": 't_lastLogin',
                }, {
                    "targets": -1,
                    "data": "t_action",
                }]
            });
        });

    </script>
{% endblock post_javascript %}