{% extends 'base.html.twig' %}

{% block title %}
    New user
{% endblock %}

{% block body_header %}
    <ol class="breadcrumb " style="background-color: #ffffff !important;">
        <li class="navbar-brand breadcrumb-item">
            <a class="active" href="{{ path('clients_clients_index') }}">Users</a>
        </li>
        <li class="navbar-brand breadcrumb-item">New user</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="card">
                <div class="header">
                    <h4 class="title">New user</h4>
                </div>
                <div class="content">

                    {% include 'clients/form.html.twig' with {'form':form, "button_name":"Create user"} %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block post_javascript %}
    <script type="application/javascript">
        $(function() {
            $('#{{ form.isActivated.vars.id }}').bootstrapToggle({
                on: 'Activated',
                off: 'Deactivated',
                onstyle: "btn btn-success btn-fill",
                offstyle: "btn btn-default btn-fill"
            });

            $('#{{ form.isAdmin.vars.id }}').bootstrapToggle({
                on: 'Admin',
                off: 'Client',
                onstyle: "btn btn-success btn-fill",
                offstyle: "btn btn-primary btn-fill"
            });
        })

    </script>
{% endblock %}