<h1>welcome to our application</h1>
<p>You new account requested has been accepted successfully. To log in your account please click to the link</p>
<p>You will be asked to introduce a new password</p>
<a href="{{ absolute_url(path('user_profile_new_password', {resetToken: newUser.resetToken})) }}">click to activate your account</a>