<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>transaction-{{ transaction.websiteOrderId }}</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <!-- Bootstrap core CSS     -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet"/>

    <!-- Animation library for notifications   -->
    <link href="{{ asset('assets/css/animate.min.css') }}" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('assets/css/pe-icon-7-stroke.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/custom-style.css') }}" rel="stylesheet"/>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <style>
        .item-amount-title {
            font-size: 18px;
        }

        .item-product-title {
            font-size: 14px;
            margin-left: 5%;
        }

        .item-product-description {
            font-size: 12px;
            margin-left: 7%;
            color: #8c8c8c;
        }

        .product-description {
            margin-top: 2%;
        }
    </style>
</head>
<body role="document">
<div>
    <!-- Fixed navbar -->
    <nav class="navbar pay-navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                {#<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span>
                </button>#}
            </div>
        </div>
    </nav>
</div>
<br>
<div>
    <div class="container theme-showcase" role="main">
        <div class="page-header">
            <h1>{{ transaction.website.name }}</h1>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Products</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <span class="item-amount-title">
                                    Amount to pay
                                </span>
                            </div>
                            <div class="col-sm-4 item-price">
                                <span>{{ transaction.amount }} {{ transaction.currency }}</span>
                            </div>
                        </div>
                        {% if transaction.extraData|length > 0 %}
                            <div class="product-description">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <span class="item-product-title">
                                            product name (quantity)
                                            <br>
                                            <span class="item-product-description"> product description</span>
                                        </span>
                                    </div>
                                    <div class="col-sm-4 item-price">
                                        <span>price (unit price)</span>
                                    </div>
                                </div>
                                {% for productData in transaction.extraData %}
                                    <div class="row">
                                        <div class="col-sm-8">
                                <span class="item-product-title">
                                    {% if productData.name  is defined %}
                                        {{ productData.name }} {% if productData.quantity is defined %}(X{{ productData.quantity }}){% endif %}

                                        {% if productData.description is defined %}
                                            <br>
                                            <span class="item-product-description"> {{ productData.description }}</span>
                                        {% endif %}
                                    {% endif %}
                                </span>
                                        </div>
                                        <div class="col-sm-4 item-price">
                                    <span>
                                        {% if productData.unit_price is defined %}

                                            {% if productData.total_price is defined %}
                                                {{ productData.total_price }}
                                            {% else %}
                                                -
                                            {% endif %}
                                            ({{ productData.unit_price }})
                                        {% elseif productData.total_price is defined %}
                                            {{ productData.total_price }}
                                        {% else %}
                                            - (-)
                                        {% endif %}
                                    </span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-shopping-cart" aria-hidden="true"></i> NOTE</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <span class="item-title">
                                        We recommend paying directly with credit / debit cards because they provide anonymity far more than what you believe with.</br>
                                    Paysafecard or similar, being managed by systems outside the EU, with our method is much safer than with any other system.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-credit-card" aria-hidden="true"></i> Payment methods</h3>
                </div>
                <div class="panel-body">
                    {{ form_start(form, {attr:{id:form.vars.id}}) }}
                    <div id="errorContainer" class="alert alert-danger" role="alert" hidden>
                    </div>
                    {{ form_label(form.gateway) }}
                    {{ form_widget(form.gateway) }}

                    <div class="text-right">
                        <button id="submit_payment_method" type="submit" href="" title=""
                                class="btn btn-success btn-lg btn-checkout">Pay
                            <i class="fa fa-check"
                               aria-hidden="true"></i>
                        </button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>
</div>

<!--   Core JS Files   -->
<script src="{{ asset('assets/js/jquery.3.2.1.min.js') }}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        //init vars.
        var paymentMethodeBtn = $(".gateway_method_btn");
        var lastShownExtraFields = null;
        var errorContainer = $("#errorContainer");


        //Show and hide extra fields.
        paymentMethodeBtn.on('click', function (e) {
            if ($(this).is(':checked')) {
                errorContainer.hide();
                if (lastShownExtraFields !== null)
                    lastShownExtraFields.hide();

                lastShownExtraFields = $("#" + $(this).val());
                lastShownExtraFields.show();
            }
        });

        //Form validator.
        $("#{{ form.vars.id }}").validate({
            errorElement: 'p',
            errorLabelContainer: '#errorContainer',
            rules: {
                "{{ form.gateway.vars.id }}[extraFields][edahab_number]": {
                    required: true,
                    minlength: 9,
                    maxlength: 9,
                    number: true,
                    eDahabNumber: true
                }
            },
            // Specify validation error messages
            messages: {
                "{{ form.gateway.vars.id }}[extraFields][edahab_number]": {
                    required: "Please enter your eDahab number",
                    minlength: "Please enter 9 digits",
                    maxlength: "Please enter 9 digits",
                    eDahabNumber: "eDahab number must start 65/66"
                }
            },
            highlight: function (element, errorClass) {
                errorContainer.show();
            },
            submitHandler: function (form) {
                form.submit();
            }

        });

        //Add validator for eDahab number.
        $.validator.addMethod('eDahabNumber', function (value, element) {
            var firstDigits = value.substr(0, 2);
            return (parseInt(firstDigits) == 65 || parseInt(firstDigits) == 66);
        }, 'Number must start with 66/65');

    });
</script>
</body>
</html>