{% extends 'base.html.twig' %}

{% block title %}
    New website
{% endblock %}

{% block body_header %}
    <ol class="breadcrumb " style="background-color: #ffffff !important;">
        <li class="navbar-brand breadcrumb-item">
            <a href="{{ path('websites_websites_index') }}">
                Websites
            </a>
        </li>
        <li class="navbar-brand breadcrumb-item">New website</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="card">
                <div class="header">
                    <h4 class="title">Create website</h4>
                </div>
                <div class="content">
                    {% include 'websites/form.html.twig' with {'form':form, "button_name":"Create website"} %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block post_javascript %}
    <script type="application/javascript">
        $(function () {
            $('#{{ form.isActivated.vars.id }}').bootstrapToggle({
                on: 'Activated',
                off: 'Deactivated',
                onstyle: "btn btn-success btn-fill",
                offstyle: "btn btn-default btn-fill"
            });
        })

    </script>
{% endblock %}