{% extends 'base.html.twig' %}

{% block title %}
    Website gateways
{% endblock %}

{% block stylesheet %}
    <style>
        .collapse-card-header {
            padding: .75rem 1.25rem !important;
            margin-bottom: 0 !important;
            background-color: rgba(0, 0, 0, .13) !important;
            border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
        }

        .collapse-card-header, .btn {
            background-color: transparent;
            border-color: transparent;
        }

        .gateway_collapse {
            border: black;
        }

        .collapse-card-header, .btn:hover, .btn:focus {
            background-color: transparent;
            border-color: transparent;
        }
    </style>
{% endblock %}
{% block body_header %}

    <ol class="breadcrumb " style="background-color: #ffffff !important;">
        <li class="navbar-brand breadcrumb-item">
            <a href="{{ path('websites_websites_index') }}">
                Websites
            </a>
        </li>
        <li class="navbar-brand breadcrumb-item">
            <a href="{{ path('websites_edit_website',{"token": website.token}) }}">
                Edit website
            </a>
        </li>
        <li class="navbar-brand breadcrumb-item">Manage website gateways</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="card">
                <div class="header">
                    <h4 class="title">Manage <a href="{{ website.url }}">{{ website.url }}</a> gateways</h4>
                </div>
                <div class="content">
                    {{ form_start(form) }}
                    {% for index, gatewayConfiguration in form.gatewaysConfigurations %}
                        <div class="content">
                            <div class="gateway_collapse">
                                <div class="collapse-card-header">
                                    <button class="btn " type="button" data-toggle="collapse"
                                            data-target="#configuration_{{ gatewayConfiguration.vars.value.gateway.id }}"
                                            aria-expanded="false"
                                            aria-controls="configuration_{{ gatewayConfiguration.vars.value.gateway.id }}">
                                        {{ gatewayConfiguration.vars.value.gateway.name }}
                                    </button>

                                    <div class="pull-right">
                                        {{ form_widget(gatewayConfiguration.isActivated) }}
                                    </div>
                                </div>
                                <div class="collapse"
                                     id="configuration_{{ gatewayConfiguration.vars.value.gateway.id }}">
                                    {% if  gatewayConfiguration.gatewaysConfigurations | length %}
                                        {% for gatewayConfigurationIndex, gatewayConfigurationRow in gatewayConfiguration.gatewaysConfigurations %}
                                            {{ form_widget(gatewayConfigurationRow) }}
                                        {% endfor %}
                                    {% else %}
                                        <p class="text-center">
                                            NO CONFIGURATION FOR THIS GATEWAY
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                    <button type="submit" class="btn btn-info btn-fill pull-right">Save configurations</button>
                    <div class="clearfix"></div>
                    {{ form_widget(form._token) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block post_javascript %}
    <script type="application/javascript">
        $(function () {
            {% for gatewayConfiguration in form.gatewaysConfigurations %}
            $('#{{ gatewayConfiguration.isActivated.vars.id }}').bootstrapToggle({
                on: 'Activated',
                off: 'Deactivated',
                onstyle: "btn btn-success btn-fill",
                offstyle: "btn btn-default btn-fill"
            });
            {% endfor %}
        })

    </script>
{% endblock %}