{% extends 'login/base_login.html.twig' %}


{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="card card-container">
                    {% for type, messages in app.flashes %}


                    <div role="alert" class="alert alert-{{ type }} alert-dismissible fade in">
                        <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span
                                    aria-hidden="true">×</span></button>
                        {% for message in messages %}
                            <p><b>{{ message }}</b></p></div>
                        {% endfor %}
                    {% endfor %}

                    <img style="width: 100%;" id="profile-img" class="profile-img-card" src="{{ asset("assets/img/soPay.jpeg") }}"/>
                    <p id="profile-name" class="profile-name-card"></p>
                    <form class="form-signin" method="POST" action="">
                        <span id="reauth-email" class="reauth-email"></span>
                        <input type="text" name="email" id="inputEmail" class="form-control" placeholder="email address" required/>
                        </br>
                        <button class="btn btn-lg btn-primary btn-block btn-signin" name="Submit" value="Login" type="submit">
                            reset
                        </button>
                    </form><!-- /form -->
                    <a style="display: none;" href="#" class="forgot-password">
                        Forgot the password?
                    </a>
                </div><!-- /card-container -->
            </div>

        </div><!-- /row -->

    </div><!-- /container -->

{% endblock %}