{% extends 'base.html.twig' %}

{% block title %}
    Support
{% endblock %}

{% block body_header %}
    <ol class="breadcrumb " style="background-color: #ffffff !important;">
        <li class="navbar-brand breadcrumb-item">Support</li>
    </ol>
{% endblock %}

{% block body %}
      <div>
         <div>
            <h3 style="text-align: center;">Sobigpay support</h3>
         </div>
         <div>
            <h1 style="text-align: center;">Where you can find us</h2>
         </div>

        <div class="row">
            <div class="col-sm-4">
                 <div style="width: 200px; max-width: 100%; margin: auto; text-align: center; border-radius: 4px; padding: 20px; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; background: white;">
                   <a href="mailto:carthage.solutions@gmail.com">
                   <div><i class="fa fa-3x fa-envelope-o" style="padding-bottom: 20px; width: 50px"></i></div>
                    <p style="margin:0; color: #8a8a8a;"><b> Mail</b> </p>   
                   </a>
                </div>
           </div>
            <div class="col-sm-4">
                 <div style="width: 200px; max-width: 100%; margin: auto; text-align: center; border-radius: 4px; padding: 20px; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; background: white;">
                    <a  href="https://api.whatsapp.com/send?phone=0021658388777"  target="__blank">
                   <i class="fa fa-3x fa-whatsapp"  style="padding-bottom: 20px; width: 50px; "></i>
                      <p style="margin:0;color: #8a8a8a;"><b> Whatsapp</b> </p>       
                   </a>
                </div>
           </div>
            <div class="col-sm-4">
                 <div style="width: 200px; max-width: 100%; margin: auto; text-align: center; border-radius: 4px; padding: 20px; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; background: white;">
                   <a href="tel:+21658388777" >
                   <i class="fa fa-3x fa-phone"  style="padding-bottom: 20px; width: 50px;  "></i>
                      <p style="margin:0; color: #8a8a8a;"><b> +216 58 388 777</b></p>       
                   </a>
                </div>
           </div>
        </div>
      </div>
{% endblock body %}