{# website gateways parameters fields #}
{% block _website_gateways_gatewaysConfigurations_entry_gatewaysConfigurations_entry_widget %}

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="form-group">
                <div>
                    <label for="{{ form.value.vars.id }}" class="required">
                        {{ form.name.vars.value }}
                    </label>
                    <input type="text" id="{{ form.value.vars.id }}" name="{{ form.value.vars.full_name }}"
                           {% if form.isRequired.vars.value == 1 %}required="required" {% endif %}
                           class="{{ form.value.vars.attr.class }}"
                           value="{{ form.value.vars.value }}">

                    <input type="hidden" id="{{ form.name.vars.id }}" name="{{ form.name.vars.full_name }}"
                           value="{{ form.name.vars.value }}">

                    <input type="hidden" id="{{ form.isRequired.vars.id }}" name="{{ form.isRequired.vars.full_name }}"
                           value="{{ form.isRequired.vars.value }}">

                </div>
            </div>
        </div>
    </div>
{% endblock  _website_gateways_gatewaysConfigurations_entry_gatewaysConfigurations_entry_widget %}

{# website gateways block isActivated field #}
{% block _website_gateways_gatewaysConfigurations_entry_isActivated_widget %}

    <div>
        <input id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" type="checkbox" {% if form.parent.vars.value.isActivated %} checked{% endif %}>
    </div>

{% endblock _website_gateways_gatewaysConfigurations_entry_isActivated_widget %}

{# gateway configuration prototype form #}
{% block _gateway_form_gatewayParameters_entry_widget %}
    <div class='col-md-12' id='parameter_row___name__'>
    <div class='col-md-4'>
        <div class='form-group'>
            <label for='{{ form.name.vars.id }}' required='required'>{{ form.name.vars.label }}</label>
            <input type='text' id='{{ form.name.vars.id }}' name='{{ form.name.vars.full_name }}' required='required' class='{{ form.name.vars.attr.class }} '>
            </div>
        </div>
    <div class='col-md-4'>
        <div class='form-group'>
            <label for='{{ form.value.vars.id }}' required='required'>{{ form.value.vars.label }}</label>
            <input type='text' id='{{ form.value.vars.id }}' name='{{ form.value.vars.full_name }}' required='required' class='{{ form.value.vars.attr.class }} '>
            </div>
        </div>
    <div class='col-md-2' style='top: -16%'>
        <div class='form-group'>
            <label for='{{ form.isRequired.vars.id }}'>{{ form.isRequired.vars.label }}</label>
            <input type='checkbox' id='{{ form.isRequired.vars.id }}' name='{{ form.isRequired.vars.full_name }}' class='{{ form.isRequired.vars.attr.class }} '>
            </div>
        </div>
    <div class='col-md-2'>
        <div class='form-group'>
            <label  class='required'>actions</label>
            </br><i class='fa fa-minus-circle' title='remove parameter' id ='remove___name__' parameter_row='__name__'></i>
            </div>
        </div>
    </div>
{% endblock _gateway_form_gatewayParameters_entry_widget %}