{{ form_start(form) }}
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            {{ form_row(form.name) }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_row(form.color) }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>color visualisation</label>
            <input disabled class="form-control" id="visualize-color">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            {{ form_row(form.serviceId) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            {{ form_row(form.description) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            {{ form_row(form.extraFields) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ form_label(form.gatewayParameters)}}
        <hr>
    </div>
    <div class="col-md-12" id="gateway_parameters">
        {% for row, gatewayParameter in form.gatewayParameters %}
            <div class="row">
                <div class='col-md-12' id='parameter_row_{{ row }}'>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_row(gatewayParameter.name) }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_row(gatewayParameter.value) }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            {{ form_row(gatewayParameter.isRequired) }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Actions</label>
                            </br><i class='fa fa-minus-circle' title='remove parameter'
                                    id='remove_{{ row }}' parameter_row='{{ row }}'></i>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div >
        <div class="col-md-2 col-md-offset-10">
            <a id="add_parameter_btn" href="#">Add parameter</a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_widget(form.isActivated) }}
        </div>
    </div>
</div>
<button type="submit" class="btn btn-info btn-fill pull-right">{{ button_name }}</button>
<div class="clearfix"></div>

{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}