{% extends 'base.html.twig' %}

{% block title %}
    New gateway
{% endblock %}

{% block body_header %}
    <ol class="breadcrumb " style="background-color: #ffffff !important;">
        <li class="navbar-brand breadcrumb-item">
            <a href="{{ path('gateways_gateways_index') }}">
                Websites
            </a>
        </li>
        <li class="navbar-brand breadcrumb-item">New gateway</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="card">
                <div class="header">
                    <h4 class="title">Create gateway</h4>
                </div>
                <div class="content">

                    {% include 'gateway/form.html.twig' with {'form':form, "button_name":"Add gateway"} %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block post_javascript %}

    {%  include 'gateway/gatewayParameters_js.html.twig' with {'form':form} %}

{% endblock %}