<html>
<head>

    <script src="{{ asset('assets/js/jquery.3.2.1.min.js') }}" type="text/javascript"></script>
    <style>
        .lds-ripple {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
        }
        .lds-ripple div {
            position: absolute;
            border: 4px solid #3eb8d9;
            opacity: 1;
            border-radius: 50%;
            animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        }
        @keyframes lds-ripple {
            0% {
                top: 36px;
                left: 36px;
                width: 0;
                height: 0;
                opacity: 1;
            }
            100% {
                top: 0px;
                left: 0px;
                width: 72px;
                height: 72px;
                opacity: 0;
            }
        }
    </style>
</head>
<body>

<div class="lds-ripple"><div></div><div></div></div>
<form method="POST" action="{{ hppUrl }}" id='waffi_pay' hidden>

    <input type="hidden" name="hppRequestId" id="hppRequestId" VALUE="{{ hppRequestId }}" >
    <input type="hidden" name="referenceId" id="referenceId" VALUE="{{ referenceId }}" >
    <button type="submit">Validate</button>
</form>
<script>
    $( document ).ready(function(){
        $("#waffi_pay").submit();
    })

</script>
</body>
</html>