{% extends 'login/base_login.html.twig' %}


{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <br class="card card-container">
                    {% for type, messages in app.flashes %}


                    <div role="alert" class="alert alert-{{ type }} alert-dismissible fade in">
                        <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span
                                    aria-hidden="true">×</span></button>
                        {% for message in messages %}
                            <p><b>{{ message }}</b></p></div>
                        {% endfor %}
                    {% endfor %}

                    <img style="width: 100% " id="profile-img" class="profile-img-card" src="{{ asset("assets/img/soPay.jpg") }}"/>
                    <p id="profile-name" class="profile-name-card"></p>
                    <form class="form-signin" method="POST" action="">
                        <span id="reauth-email" class="reauth-email"></span>
                        <input type="text" name="email" id="inputEmail" class="form-control" placeholder="email address"
                               required
                               value="{{ app.session.get(constant('App\\abService\\UserBundle\\Controller\\LoginController::LAST_EMAIL')) }}"
                        >

                        <br class="card card-container">
                        <input type="password" name="password" id="inputPassword" class="form-control"
                               placeholder="password"
                               required>
                        <br class="card card-container">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token('user_login_form') }}">

                        <div id="remember" class="checkbox">
                            <label>
                                <input name="remember-me" type="checkbox" value="_re member-me"> Remember me
                            </label>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block btn-signin" name="Submit" value="Login"
                                type="submit">
                            Sign in
                        </button>
                        <br>
                        <p>Dont have an account?</p>
                        <a href="/register">
                        <button class="btn btn-lg btn-primary btn-block btn-signin">
                            Sign up
                        </button>
                        </a>
                    </form><!-- /form -->
                    <a href="{{ path('user_password_reset') }}" class="forgot-password col-md-offset-5 mt-5">
                        Reset the password?
                    </a>
                </div><!-- /card-container -->
            </div><!-- /col-md-6 -->
        </div><!-- /row -->
    </div><!-- /container -->

{% endblock %}