{% extends 'base.html.twig' %}

{% block title %}
    Edit profile
{% endblock %}

{% block body_header %}
    <ol class="breadcrumb " style="background-color: #ffffff !important;">
        <li class="navbar-brand breadcrumb-item">Profile</li>
        <li class="navbar-brand breadcrumb-item">Edit</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="card">
                <div class="header">
                    <h4 class="title">Edit profile</h4>
                </div>
                <div class="content">

                    {{ form_start(form, {'attr':{"autocomplete":"off"}}) }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_row(form.firstName) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_row(form.lastName) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_row(form.email) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_row(form.plaintPassword) }}
                                </div>
                            </div>
                        </div>

                    <button type="submit" class="btn btn-info btn-fill pull-right">Update profile</button>
                    <div class="clearfix"></div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>

{% endblock%}