{% extends 'base.html.twig' %}

{% block title %}
    Register
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="card">
                <div class="header">
                    <h4 class="title">Register OK</h4>
                </div>
               {#  <div class="content">

                    {% include 'register/form.html.twig' with {'form':form, "button_name":"Create user"} %}
                </div> #}
            </div>
        </div>

    </div>
{% endblock %}
{# 
{% block post_javascript %}
    <script type="application/javascript">
        $(function() {
            $('#{{ form.isActivated.vars.id }}').bootstrapToggle({
                on: 'Activated',
                off: 'Deactivated',
                onstyle: "btn btn-success btn-fill",
                offstyle: "btn btn-default btn-fill"
            });

            $('#{{ form.isAdmin.vars.id }}').bootstrapToggle({
                on: 'Admin',
                off: 'Client',
                onstyle: "btn btn-success btn-fill",
                offstyle: "btn btn-primary btn-fill"
            });
        })

    </script>
{% endblock %} #}